
<div class="content-body">
    <img class="img-logo" src="~/img/logo.png" alt="Logo Dpim" />
    <div class="box-content">
        <label class="title-text">
            สวัสดีคุณ {name_th}
        </label>
        <div class="content-text">
            คุณสามารถเรียน คอร์ส {course_name} ได้ถึง {course_start_dt} หลังจากนั้นคุณจะไม่สามารถทำแบบทดสอบหลังเรียน แต่ยังสามารถเข้ารับชมเนื้อหาบทเรียนได้ตามปรกติ หากคุณมีคำถามเพิ่มเติมหรือข้อสงสัยสามารถติดต่อได้ที่ support@dpim.co.th หรือ 081-123-4456

        </div>
    </div>
    <div class="content-footer">กรมอุตสาหกรรมพื้นฐานและการเหมืองแร่ 75/10 ถนนพระรามที่ 6 แขวงทุ่งพญาไท เขตราชเทวี กรุงเทพฯ 10400</div>
</div>
<style type="text/css">
    .content-body {
        position: relative;
        width: 600px;
        height: 342px;
        background: #FFFFFF;
    }

    .img-logo {
        position: absolute;
        width: 47px;
        height: 58px;
        left: 32px;
        top: 12px;
        background-image: url('../img/logo.png');
        background-repeat:no-repeat;
    }

    .box-content {
        position: absolute;
        width: 552px;
        height: 210px;
        left: 24px;
        top: 73px;
        /* Grayscale / #FAFAFA - Background Grey 3 */
        background: #FAFAFA;
        border-radius: 4px;
    }

    .title-text {
        position: absolute;
        width: 232px;
        height: 26px;
        left: 40px;
        top: 86px;
    }

    .content-text {
        position: absolute;
        width: 520px;
        height: 126px;
        left: 40px;
        top: 143px;
        font-family: Noto Sans Thai;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        /* or 150% */
        /* Grayscale / #333333 - Dark Grey */
        color: #333333;
    }

    .content-footer {
        position: absolute;
        width: 437px;
        height: 14px;
        left: 35px;
        top: 299px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 140%;
        /* identical to box height, or 14px */
        color: #A8A8A8;
    }
</style>